* {
  font-family: "Noto Sans Glagolitic", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 0 auto;
}
nav {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 2.5em;
  font-weight: bold;
}
#memento {
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}
.links {
  text-decoration: none;
  font-size: 1.2em;
}
#nav-second {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}
#page-title {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  width: 130px;
  height: 40px;
  font-size: 1.1em;
  cursor: pointer;
  background-color: #0070ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: all 0.4s;
  margin-top: 10px;
}

.btn:hover {
  border-radius: 5px;
  transform: translateY(-10px);
  box-shadow: 0 7px 0 -2px #ff8400, 0 15px 0 -4px #171717,
    0 16px 10px -3px #171717;
}

.btn:active {
  transition: all 0.2s;
  transform: translateY(-5px);
  box-shadow: 0 2px 0 -2px #ff8400, 0 8px 0 -4px #171717,
    0 12px 10px -3px #171717;
}
.post-its {
  margin: 50px;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  flex-wrap: wrap;
}
.card {
  padding: 20px 30px;
  width: 300px;
  -webkit-box-shadow: 14px 10px 21px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 14px 10px 21px -7px rgba(66, 68, 90, 1);
  box-shadow: 14px 10px 21px -7px rgba(66, 68, 90, 1);
  margin-bottom: 50px;
}
.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title h3 {
  font-size: xx-large;
}
.card-body p {
  font-family: "Glass Antiqua", cursive;
  list-style: none;
  font-size: 1.2em;
}
.delete {
  color: black;
}
#not-connected {
  display: flex;
  justify-content: center;
}
form {
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.047);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  z-index: 1;
}
form * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  color: #000000;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  color: #000000af;
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input,
textarea {
  color: #000000af;
  display: block;
  height: 50px;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #00000070;
}
.submit {
  margin-top: 50px;
  width: 100%;
  background-color: #d01a1a83;
  color: #ffffff;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}
.radio {
  width: 30px;
  height: 30px;
}
span {
  color: #d01a1a83;
}
